language: python
sudo: false
python:
- '2.7'
- '3.4'
before_install:
- cd ./python
- pip install -U pip
install:
- travis_wait travis_retry pip install numpy cython
script:
- echo foo
deploy:
  provider: pypi
  user: wielandbrendel
  password:
    secure: nwXqsYDhexOZr95YzjftQH7sLNKbyqXpo9sJkOL/UYsHV/NKBqqDy1DEFKULGtLRD1EbV9Uj52+DqzeSrYW1LnHNdWe/AV7M+7N7SGOMIbJbW6rzqvgLTLy580ZlS8FfObxC/b95o6Kzcf+QaxHDRbeZyrEAqQEse5o+dEvIpuk3Hr0l0COrXHKytAuiAhBT3jpiXvVFiCtD6oi0xJrwgZDNWaPg9MDxA0zz6MuFbBqJHL8SGXMpNDk+NNMxIT8FIjQKiMUtJxWXrO5LKNUKj+nhg+YOwlICbY7/gT0ZwsdAoZUq3pFIWKDDfxyzupTa/KJdaKoHwiKyaGIJ4H1dlX5ArV7NE4xwET1yAN7egZK7JsZkxQ5GYzAh0rgulzpUlHVSCi2L3oGrwwHKj0epED33WdDF1hdyMCVSdfG4ipCXEDDB0JNZzlkMBKtPFlwtyTw9z3MDVw5XNInfiyk1xLq6P6EE0nkuZlGkOjsmODhWaXvJ7ss82hOsQtsEJGmNs28cq4iNk7dSqhehNaIqE4WiWjisoK18d56QUhpd8X4kesojmXoovc5Jg3XmC0Ojdh/nK2gbUogqOmFe9L8OScVM+qfv9YZlKCjZIfd6BPMa6B57Ecfmp8wI2NVTMv/djO8eDPKOD9m/sI9coD8y2R38ojZDS9WE6gXLXtNhJBg=
  on:
    repo: machenslab/dPCA
